<ul>
    <li>
        <a href="#main">
            <span class="dr-only">Home</span>
            <span class="m-only"><i class="fa fa-home" aria-hidden="true"></i></span>
        </a>
    </li>
    <li>
        <a href="#clock">
            <span class="dr-only">Clock</span>
            <span class="m-only"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
        </a>
    </li>
    <li>
        <a href="#list">
            <span class="dr-only">Asset</span>
            <span class="m-only"><i class="fa fa-google-wallet" aria-hidden="true"></i></span>
        </a>
    </li>
    <li>
        <a href="#add">
            <span class="dr-only">Add</span>
            <span class="m-only"><i class="fa fa-plus" aria-hidden="true"></i></span>
        </a>
    </li>
</ul>