<style>
    table.type1 {
        border-collapse: separate;
        border-spacing: 1px;
        text-align: center;
        line-height: 1.5;
        margin: 20px 10px;
        width:100%;
    }
    table.type1 th {
        width: 155px;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        color: #fff;
        border-bottom: 1px solid #ce4869 ;
    }
    table.type1 td {
        width: 155px;
        padding: 10px;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
        word-break : break-all;
    }    
</style>
<h1 style="text-align:center;">부대 현황</h1>
<table class="type1">
    <thead>
        <tr>
            <th>이름</th>
            <th class="dr-only">구매가</th>
            <th class="dr-only">수량</th>
            <th class="dr-only">구매금액</th>
            <th class="dr-only">구매일자</th>
            <th class="dr-only">목표가</th>
            <th class="dr-only">현재가</th>
            <th class="dr-only">평가금액</th>
            <th>수익율</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>