<style>
    .parallax {
        /* The image used */
        background-image: url(http://upload2.inven.co.kr/upload/2016/07/29/bbs/i13548169117.jpg);

        /* Set a specific height */
        min-height: 100%;
        position: relative;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .caption {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
    }

    .border {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px;
    }
</style>
<div class="caption">
    <span class="border">여러분의 코인은 안전합니다!</span>
</div>